@font-face {
  font-family: 'fontawesome';
  src:  url('fontawesome.eot?g8arii');
  src:  url('fontawesome.eot?g8arii#iefix') format('embedded-opentype'),
  url('fontawesome.ttf?g8arii') format('truetype'),
  url('fontawesome.woff?g8arii') format('woff'),
  url('fontawesome.svg?g8arii#fontawesome') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fontawesome' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-toolbox:before {
  content: "\e901";
}
.icon-xing:before {
  content: "\e907";
}
.icon-bars:before {
  content: "\e902";
}
.icon-at:before {
  content: "\e903";
}
.icon-gitlab:before {
  content: "\e904";
}
.icon-code:before {
  content: "\e905";
}
.icon-map-marker:before {
  content: "\e906";
}
.icon-graduation-cap:before {
  content: "\e900";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-full:before {
  content: "\e9d9";
}