.mx-auto {
  margin: 0 auto 0 auto !important;
}

@media (min-width: 796px) {
  .pt-3-desktop {
    padding-top: 1rem !important;
  }
}

.m-t-5 {
  margin-top: 1.2rem !important;
}

.fade {
  transition: opacity 0.7s ease-out;
}


.text-justify {
  text-align: justify;
}
